

/* Start of Section 1 */

.banner-sec1{
 background: url('../assets/pexels-kelvin-valerio-810775.jpg') no-repeat;  
   background-size:100% 100%;
   height: 430px;
   width: 100%;
   
}
@media screen and (max-width: 707px){
  .banner-sec1{
    height: 455px;
    /* padding:0px; */
  }
  }

  @media screen and (max-width: 576px){
    .sec1-col2{
      margin-top: 140px;
    }
  }
  @media screen and (max-width: 391px){
    .sec1-col2{
      margin-top: 0px;
      
    }
  }


.sec1-col2{
  color: black;
  background-color:rgb(255, 245, 238, 0.9);
  
}


/* End of Section 1 */

/* Start of Section 2 */
.sec2{
  background-color:  rgb(255, 187, 0);
  background-size: auto;
  box-shadow: 5px 10px 8px #888888;
 
}
.sec2-head{
  color:rgb(1,174,239);
  text-shadow: 1px 1px  #000000;
}

.sec2-col2 img{
  height:200px; 
  width:100%; 
  border-radius: 10px;
  /* border: 5px solid rgb(255, 187, 0); */
}
.sec2-btn{
  border-radius: 10px;
  text-shadow: 1px 1px black;
}

.sec2-col2-cont{
width: 100%;

}

.mosaic{
  display: grid;
  grid-template-rows: 160px;
}

.mosaic-item:first-of-type{
grid-column: 2 /span 2 ;
grid-row: 1 /span 2 ;
}

.mosaic-item:last-of-type{
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

html{
  scroll-behavior: smooth;
}
/* End of Section 2 */


/* Start of Section 3 */
.section3-vid-para-head{
  color: rgb(255, 187, 0);  
  padding: 20px 0px;  
  text-shadow: 2px 2px 2px #000000;
  padding-bottom: 65px;  
}


.section3-vid-para-head h2{
  font-weight: bold;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
}

.section3-vid-para-head hr{
  height:2px;
  border-width:0;
  color:rgb(255, 187, 0);
  background-color:rgb(255, 187, 0);
  width:50%;
}

.section3-vid-para{
  padding: 40px 0px;
}

.section3-vid-para-text h3{
 color:rgb(1,174,239);
 padding: 0px 30px;
 text-shadow: 1px 1px  #000000;
 
 
}

.section3-vid-para-text p{
  padding: 0px 30px;
  padding-top:10px;
  
  font-size: 17px;
}
/* End of Section 3 */

/* Start of Section 4 */
.sec4{
background-image: url("../assets/keith-misner.jpg");
background-size: cover;
border: 5px solid black;
}
.sec4-div{
  border-right: 3px solid black;
}
@media only screen and (max-width: 576px){
.sec4-div{
  border-right: 0px solid black;
}
}

.icon-stat{
  padding-left: 42%;
  font-size: 40px;
}

/* End of Section 4 */

/* Start of Section paraOnly */
/* .section-paraonly{
  background-color:rgb(255, 187, 0);
} */

.sectionpara-vid-para-head{
  color: rgb(255, 187, 0);  
  padding: 20px 0px;  
  text-shadow: 2px 2px 2px #000000;
  padding-bottom: 65px;  
}


.sectionpara-vid-para-head h2{
  font-weight: bold;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
}

.sectionpara-vid-para-head hr{
  height:2px;
  border-width:0;
  color:rgb(255, 187, 0);
  background-color:rgb(255, 187, 0);
  width:50%;
}
.sectionpara-vid-para-text span i{
  font-size: 25px;
  color:rgb(255, 187, 0) ;
  text-shadow: 1px 1px 2px #000000;
 
}
.sectionpara-vid-para-text2 {
  border-radius: 20px;
  background-color: rgba(202, 199, 199, 0.63);
  box-shadow: 5px 10px 8px #888888;
}

.sectionpara-vid-para{
  padding: 40px 0px;
}

.sectionpara-vid-para-text h3{
 color:rgb(1,174,239);
 padding: 0px 30px;
 text-shadow: 1px 1px  #000000;
 
 
}

.sectionpara-vid-para-text p{
  padding: 0px 30px;
  padding-top:10px;
  
  font-size: 17px;
}
/* End of Section paraOnly */

/* Start of Section 5 */
.form-appointment{
  background-color: rgb(255, 208, 0);
  border-radius: 20px;

}
.form-head{
  color: white;
  text-shadow: 2px 2px black;

}

.form-row input{
  border-radius: 20px;
  padding:10px;
  margin-bottom: 10px;  
}
.form-row select{
border-radius: 20px;
margin-bottom: 10px; 
}
.form-row textarea{
border-radius: 30px;

}

.form-row {
padding: 5px 0px;
}
.btn-submit{
  border-radius: 10px;
}
/* End of Section 5 */
