

  /* start of section 1 */
  form{
    
    border-radius: 20px;
  }
  .sec1-head h1{
    color: rgb(1,174,239);
    text-shadow: 2px 2px black;
  }
  .sec1-col1 h2{
    color:rgb(255, 187, 0);
    text-shadow: 1px 1px black;

  }

  hr{
    height:2px;
    border-width:0;
    color:rgb(255, 187, 0);
    background-color:rgb(255, 187, 0);
    width:50%;
  }
  
  
  .form-row input{
    border-radius: 20px;
    padding:10px;
    margin-bottom: 10px;  
  }
  .form-row select{
  border-radius: 20px;
  margin-bottom: 10px; 
  }
  .form-row textarea{
  border-radius: 30px;
  
  }
  
  .form-row {
  padding: 5px 0px;
  }
  button{
    border-radius: 10px;
  }

  .address{
      padding-top: 110px;
  }
  /* End of section 1 */
  

  /*Start of map section */

.map-col{
    color: rgb(255, 187, 0);  
    padding: 20px 0px;  
    text-shadow: 2px 2px 2px #000000;
    padding-bottom: 65px;
    
  }
  
  .map-head{
    font-weight: bold;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .map-col hr{
    height:2px;
    border-width:0;
    color:rgb(255, 187, 0);
    background-color:rgb(255, 187, 0);
    width:50%;
  }
  
  /* End of map section */

