/* Start of Section 1 */
.top-header-row div a span {
    font-size: 19px;
    padding: 0px 10px;
}

.top-header-row div{
    padding-bottom: 5px;
    padding-top: 10px;
    /* margin-bottom: -20px; */
}
a:hover{
    text-decoration: none;
    
}
a:hover span #facebook{
    color:rgb(59,89,152);

}
a:hover span #twitter{
    color:rgb(16, 220, 247);

}
a:hover span #youtube{
    color:rgb(255, 5, 5);

}

a:hover span #quora{
    color:rgb(187, 16, 16);

}

a:hover span #instagram{
    color:rgb(16, 97, 247);

}

a:hover span #whatsapp{
    color:rgb(39,150,39);

}
a:hover span #telephone{
    color:rgb(255, 38, 139);

}

.topHeader-form{
  display: inline-block;
  margin:0px;
}

/* End of Section 1 */

/* Start of Section2 bottomHeader */
.bottom-header-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.link-hover:hover{
background-color: rgb(1,174,239);
border-radius: 5px;

}

.bottomHeader-class{
  background-color: rgb(0, 0, 0);
  opacity:0.8;
}

.bottomHeader-class a img{
  width:100px; 
  height:100px; 
  margin: -12px 0px;
}

#navbarSupportedContent ul{
  border-radius: 5px; 
  font-weight: bold;
}



/* End of Section2 bottomHeader */

/* Start of Section 3 */
.carourel-img-text img{
  height:500px;
}

.carousel-caption {
  opacity: 0.6;
}

.carousel-caption h3{
  color:white;
}
/* End of Section 3 */





/* start of Section 4 */
 /*Start section 4 */
 /* .card-img{
  height:150px;
  width:100%;
}

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card-block{
  transition:0.5s;
  cursor:pointer;
}
.card-text-sec4{
    padding: 0px 4px;
    overflow: auto;
    
}
.card-title-sec4{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title-sec4 i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title-sec4 i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card-block:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text-sec4{
  height:150px;  
}

.card-block::before, .card-block::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card-block::before {
  transform-origin: left top;
}
.card-block::after {
  transform-origin: right bottom;
}
.card-block:hover::before, .card-block:hover::after, .card-block:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.card-row #card-div{
    margin: 10px 15px;
}



/* 
.section-4 img{
    width: 200px;
    height: 200px
} */

/* #card-section{
background-color: rgb(255, 187, 0);
padding: 40px 0px;
opacity: 0.9;

}
.section4-text div h3{
    color: white;
    font-size: 30px;
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
    /* text-shadow: 2px 2px 2px #000000; */
    
    

/* .section4-text div hr{
  height:2px;
  border-width:0;
  color:white;
  background-color:white;
  width:50%;
}

.section4-text{
    padding-bottom: 65px;
    padding-top: 25px; 
} */ */ */

/* End of Section 4 */

/* Start of Section 4 */
.sec4{
  box-sizing:border-box;
  background-color:rgb(255, 187, 0) ;
  padding-bottom: 20px;
}

/* .col-sec8 a{
    padding:10px 20px;
}
 */

.col-sec4 {
  float: left;
  width: 20%;
  padding:20px;
  
  
}

.row-sec4::after {
  content: "";
  clear: both;
  display: table;
}

.col-sec4 a img{
width: 100%;
height: 150px;
border-radius: 10px;

}



.sec4-text1 h3{
  color:rgb(1,174,239);
  padding: 0px 0px;
  text-shadow: 1px 1px  #000000;
}

.sec4-text {
  color: white;  
  text-shadow: 2px 2px 2px #000000;
}

.sec4-text hr{
  height:2px;
  border-width:0;
  color:white;
  background-color:white;
  width:50%;
}


@media screen and (max-width: 768px) {
  .col-sec4 {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .col-sec4 {
    width: 100%;
  }
}


.col-sec4:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.col-sec4:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text1{
    height: auto;
}

/* End of Section 4 */



/* Start of Section 5 */
.section5-vid-para-head{
  color: rgb(255, 187, 0);  
  padding: 20px 0px;  
  text-shadow: 2px 2px 2px #000000;
  padding-bottom: 65px;
  
}

.section5-vid-para-head h2{
  font-weight: bold;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
}

.section5-vid-para-head hr{
  height:2px;
  border-width:0;
  color:rgb(255, 187, 0);
  background-color:rgb(255, 187, 0);
  width:50%;
}

.section5-vid-para{
  padding: 40px 0px;
}

.section5-vid-para-text h3{
 color:rgb(1,174,239);
 padding: 0px 30px;
 text-shadow: 1px 1px  #000000;
 
 
}

.section5-vid-para-text p{
  padding: 0px 30px;
  padding-top:10px;
  
  font-size: 17px;
}
/* End of Section 5 */

/* Start of Section 6 */

#Nadi-astrology{
  background-color:rgb(255, 187, 0);
 
}

.section6-vid-para-head{
  color: white;  
  text-shadow: 2px 2px 2px #000000;

}
/* .section6-vid-para-head h2{
  font-size: 35px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
} */

.section6-vid-para-head hr{
  height:2px;
  border-width:0;
  color:white;
  background-color:white;
  width:50%;
}

.section6-vid-para-head {
  padding: 20px 0px;
}

.section6-vid-para-text h3{
  color:rgb(1,174,239);
 /* padding: 0px 0px; */
 text-shadow: 1px 1px  #000000;
 
}

 





@media (max-width:7px){
.section6-vid-para-text{
  padding: 20px 23px;
}

.section6-vid-para-img{
padding-bottom: 30px;
}

}

/* End of Section 6 */

/* Start of Section 7 */
/* .card-sec7 img{
  width:100%;
  height: 200px
}

.card-sec7{
  height: 400px;
  border-radius: 10px;
  
} */




/* End of Section  7/

/* Start of Section 7*/

.section-7{
  background-color: rgba(128, 128, 128, 0.87);
  
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border:  1px solid #777;
  text-shadow: 2px 2px 4px black;
}

div.gallery img {
  width: 100%;
  height: auto;

}
div.gallery img:hover {
  border-bottom: 2px solid black;
  padding:0px;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}

section-7 {
  box-sizing: border-box;
}

.responsive {
  padding: 10px 10px;
  float:left;
  width: 30%;
  text-shadow: 2px 2px 4px black;
}

@media only screen and (max-width: 768px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

form{
    background-color: rgb(128, 128, 128);
    border-radius: 20px;
}


.form-row input{
    border-radius: 20px;
    padding:10px
    
}
.form-row select{
  border-radius: 20px;
  
}
.form-row textarea{
  border-radius: 30px;
  
}

.form-row {
  padding: 5px 0px;
}
button{
    border-radius: 10px;
}

.sec7-text{
  color: white;  
  text-shadow: 2px 2px 2px #000000;
}

.sec7-text hr{
  height:2px;
  border-width:0;
  color:white;
  background-color:white;
  width:50%;
}

/* End of Section 7 */

 

/* Start of Section 8 */
.sec8{
  box-sizing:border-box;
  background-color:rgb(255, 187, 0) ;
  padding-bottom: 20px;
}

.col-sec8 {
  float: left;
  width: 33.33%;
  padding: 15px;
  
}

.row-sec8::after {
  content: "";
  clear: both;
  display: table;
}
.col-sec8 a img{
width:  100%;
height: 300px;

}



.sec8-text1 h3{
  color:rgb(1,174,239);
  padding: 0px 0px;
  text-shadow: 1px 1px  #000000;
}

.sec8-text {
  color: white;  
  text-shadow: 2px 2px 2px #000000;
}

.sec8-text hr{
  height:2px;
  border-width:0;
  color:white;
  background-color:white;
  width:50%;
}

@media screen and (max-width: 768px) {
  .col-sec8 {
    width: 100%;
  }
}

.col-sec8:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.col-sec8:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

/* End of Section 8 */



/*Start of map section9 */

.map-col{
  color: rgb(255, 187, 0);  
  padding: 20px 0px;  
  text-shadow: 2px 2px 2px #000000;
  padding-bottom: 65px;
  
}

.map-head{
  font-weight: bold;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
}

.map-col hr{
  height:2px;
  border-width:0;
  color:rgb(255, 187, 0);
  background-color:rgb(255, 187, 0);
  width:50%;
}

/* End of map section9 */


/* start of top footer */

.full-footer{
    background-color:#243d4f;

}

.top-footer p{
    color: white;
}

.top-footer h3{
    color: white;
}

.top-footer a{
    color: white;
}

/* end of top footer */

/* start of bottom footer */

.bottom-footer{
    background-color:  #031b2e;

}

.bottom-footer p{
    color: white;
    
}

/* end of bottom footer */


#footer{
    color: #fff;
    background: #2c3e50;
    padding: 10px 0px;
}

#social-icon{
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;   
}

#social-icons li{
    display: inline-block;
    padding-left: 5px;
    }

    #social-icons li a{
        color: #fff;
        font-size: 23px;
    }

   
 

     
  