/* section-8{
    background-color: teal;
    
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border:  1px solid #777;
    text-shadow: 2px 2px 4px black;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;

  }
  div.gallery img:hover {
    border-bottom: 2px solid black;
    padding:0px;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  section-8 {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 10px 10px;
    float: right;
    width: 30%;
    text-shadow: 2px 2px 4px black;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  form{
      background-color: rgb(255, 217, 0);
      opacity: 0.8;
  }
  

  .form-row input{
      border-radius: 20px;
      padding:10px
      
  }
  .form-row select{
    border-radius: 20px;
    
}
.form-row textarea{
    border-radius: 30px;
    
}

  .form-row {
    padding: 5px 0px;
  }
  button{
      border-radius: 10px;
  } */

  /* Start of Section 8 */
.sec4{
    box-sizing:border-box;
    background-color:rgb(255, 187, 0) ;
    padding-bottom: 20px;
  }

  /* .col-sec8 a{
      padding:10px 20px;
  }
   */
  
  .col-sec4 {
    float: left;
    width: 20%;
    padding:20px;
    
    
  }
  
  .row-sec4::after {
    content: "";
    clear: both;
    display: table;
  }
  .col-sec4 a img{
  width: 100%;
  height: 150px;
  border-radius: 10px;
  
  }
  
  
  
  .sec4-text1 h3{
    color:rgb(1,174,239);
    padding: 0px 0px;
    text-shadow: 1px 1px  #000000;
  }
  
  .sec4-text {
    color: white;  
    text-shadow: 2px 2px 2px #000000;
  }
  
  .sec4-text hr{
    height:2px;
    border-width:0;
    color:white;
    background-color:white;
    width:50%;
  }
  
 
  @media screen and (max-width: 768px) {
    .col-sec4 {
      width: 50%;
    }
  }

  @media screen and (max-width: 500px) {
    .col-sec4 {
      width: 100%;
    }
  }

  
  .col-sec4:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .col-sec4:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }

  .card-text1{
      height: auto;
  }
  
  /* End of Section 8 */
  